/*******************************************
                COLOURS
*******************************************/
/*******************************************
                GENERAL
*******************************************/
/* line 13, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
body {
  color: black;
  text-align: center; }

/* line 18, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.col-md-1 {
  padding-left: 0px;
  padding-right: 0px; }

/* line 23, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.col-md-11 {
  padding-left: 0px;
  padding-right: 0px; }

/* line 28, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.row {
  margin-left: 0px;
  margin-right: 0px; }

/*******************************************
                HEADER
*******************************************/
/* line 37, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.header {
  background-image: url("/images/groupshot.jpg");
  height: 100vh;
  width: 100%;
  background-size: cover;
  z-index: -1; }

/* line 45, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.mast {
  position: absolute;
  top: 40vh;
  left: 30%; }

/* line 51, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.mast h1 {
  background-color: white;
  line-height: 60px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px; }

/* line 59, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.mast h2 {
  background-color: white;
  line-height: 45px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px; }

/* line 67, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
li {
  list-style: none; }

/*******************************************
                GA INFO
*******************************************/
/* line 77, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.general-assembly-info {
  width: 100%;
  background-color: white;
  /* #E51B24;*/ }

/* line 82, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.header h1 {
  margin-top: 0px;
  padding-top: 15px; }

/* line 87, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.ga-info {
  height: 22vh;
  margin-top: 28px; }

/* line 92, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.ga-info h4 {
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 10px;
  margin-top: 0px;
  background-color: black;
  color: white; }

/* line 101, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.ga-info i {
  font-size: 60px;
  color: #E51B24; }

/* line 106, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
i.fa.fa-github-square {
  margin-bottom: 25px; }

/* line 110, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.ga-info p {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: -5px; }

/* line 116, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.last {
  margin-bottom: 70px; }

/*******************************************
                SIDE NAV
*******************************************/
/* line 124, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.navigation {
  background-color: grey;
  position: absolute;
  top: 100vh;
  height: 100vh;
  z-index: 1;
  width: 8.34%;
  min-width: 100px;
  vertical-align: middle; }

/* line 135, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.sticky {
  position: fixed;
  top: 0px; }

/* line 140, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.general-assembly-logo img {
  height: 90px;
  width: 90px;
  margin: auto;
  border: 2px solid white;
  margin-top: 1vh;
  margin-bottom: 1vh;
  border-radius: 50%;
  background-color: white; }

/* line 151, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.general-assembly-logo img:hover {
  border: 5px dotted white; }

/* line 155, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.profile-pic img {
  border: 4px solid white;
  margin: auto;
  height: 75px;
  width: 75px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 50%;
  background-color: white;
  transition: all 0.2s linear; }

/* line 167, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.profile-pic img:hover {
  border: 2px solid yellow;
  height: 85px;
  width: 85px; }

/* line 173, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.profile-pic img.hover {
  border: 2px solid yellow;
  height: 85px;
  width: 85px; }

/* line 179, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.gallery-link {
  background-color: white;
  padding-bottom: 3px;
  padding-top: 3px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 80%;
  border: 1px solid white;
  border-radius: 15px;
  transition: all 0.2s linear; }

/* line 192, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.back-to-top {
  background-color: white;
  padding-bottom: 3px;
  padding-top: 3px;
  margin: auto;
  width: 80%;
  border: 1px solid white;
  border-radius: 15px;
  transition: all 0.2s linear; }

/* line 203, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
span.navbar-link {
  font-size: 12px; }

/* line 207, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.gallery-link:hover {
  border: 2px solid yellow;
  width: 90%; }

/* line 212, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.back-to-top:hover {
  border: 2px solid yellow;
  width: 90%; }

/*******************************************
                PROFILE PARTIAL
*******************************************/
/* line 222, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.single_profile_section {
  /*background: $profile-background-color;*/
  margin: 30px 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid; }
  /* line 230, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
  .single_profile_section .profile_student_name h2 {
    font-size: 3em;
    margin-bottom: 30px;
    margin-top: -5px; }
  /* line 237, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
  .single_profile_section div.left {
    margin-left: 4%;
    margin-right: 5%; }
  /* line 242, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
  .single_profile_section h2.profile-student-name {
    font-size: 3em;
    margin-bottom: 20px; }
  /* line 248, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
  .single_profile_section .profile_student_picture img {
    margin-top: 20px;
    width: 100%;
    box-shadow: 3px 3px 3px gray; }
  /* line 255, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
  .single_profile_section .profile_student_info {
    text-align: center; }
    /* line 258, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
    .single_profile_section .profile_student_info .profile_info_individual_p {
      margin-bottom: 20px;
      font-size: 1.2em; }
  /* line 268, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
  .single_profile_section p.one {
    margin-bottom: 0px;
    padding-bottom: 0px; }
  /* line 276, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
  .single_profile_section .profile_student_links p {
    text-decoration: none;
    /*background-color: #808080;*/
    background-color: white;
    border-radius: 15px; }
    /* line 283, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
    .single_profile_section .profile_student_links p a i {
      /*color: #FE0034;*/
      color: #808080;
      /*color: white;*/
      font-size: 3em;
      padding-left: 3%;
      padding-right: 3%;
      padding-top: 0%;
      padding-bottom: 0%; }
    /* line 294, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
    .single_profile_section .profile_student_links p a i:hover {
      color: #FE0034; }
    /* line 298, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
    .single_profile_section .profile_student_links p a:hover {
      text-decoration: none; }
  /* line 305, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
  .single_profile_section div.project1 {
    min-height: 270px;
    padding-bottom: 30px; }
  /* line 310, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
  .single_profile_section div.project2 {
    min-height: 270px; }
  /* line 315, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
  .single_profile_section h2.project-section {
    width: 92%;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 30px;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: black;
    color: white;
    border-radius: 15px; }
  /* line 327, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
  .single_profile_section p.project-text {
    font-size: 1.2em; }
  /* line 331, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
  .single_profile_section div.col-md-5.projects {
    margin-bottom: 60px; }
  /* line 335, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
  .single_profile_section .profile_project_image img {
    width: 85%;
    box-shadow: 3px 3px 3px #808080; }
  /* line 340, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
  .single_profile_section .profile_project_section {
    margin-top: 20px; }
    /* line 343, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
    .single_profile_section .profile_project_section .project_section_title h3 {
      margin-bottom: 15px; }
    /* line 347, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
    .single_profile_section .profile_project_section .single_project_container {
      margin-bottom: 20px; }
      /* line 354, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
      .single_profile_section .profile_project_section .single_project_container .profile_project_image a img {
        width: 350px;
        margin-top: 20px;
        margin-bottom: 10px;
        box-shadow: 2px 2px 3px #808080; }
      /* line 365, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
      .single_profile_section .profile_project_section .single_project_container .profile_project_title a {
        text-decoration: none; }
      /* line 374, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
      .single_profile_section .profile_project_section .single_project_container .profile_project_info {
        padding: 30px 30px; }
    /* line 381, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
    .single_profile_section .profile_project_section .project_portfolio_link h4 {
      margin: 50px; }
      /* line 384, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
      .single_profile_section .profile_project_section .project_portfolio_link h4 a {
        text-decoration: none; }
  /* line 394, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
  .single_profile_section .profile_quote p {
    font-style: italic;
    margin-top: 20px; }

/*******************************************
                GALLERY
*******************************************/
/*******************************************
                ICONS
*******************************************/
/*
 * Font Mfizz v1.2
 * Copyright 2013 Mfizz Inc, Joe Lauer
 * MIT License
 *
 * Project: http://mfizz.com/oss/font-mfizz
 *
 * The font designed for technology and software geeks representing programming
 * languages, operating systems, software engineering, and technology.
 *
 * Mfizz Inc
 * Web: http://mfizz.com/
 * Twitter: http://twitter.com/mfizz_inc
 *
 * Joe Lauer
 * Web: http://lauer.bz/
 * Twitter: http://twitter.com/jjlauer
 */
@font-face {
  font-family: "FontMfizz";
  src: url("font-mfizz.eot");
  src: url("font-mfizz.eot?#iefix") format("embedded-opentype"), url("font-mfizz.woff") format("woff"), url("font-mfizz.ttf") format("truetype"), url("font-mfizz.svg#font-mfizz") format("svg");
  font-weight: normal;
  font-style: normal; }

/* line 542, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-microscope:before,
.icon-cplusplus:before,
.icon-wireless:before,
.icon-fire-alt:before,
.icon-mobile-device:before,
.icon-objc:before,
.icon-redhat:before,
.icon-freebsd:before,
.icon-heroku:before,
.icon-python:before,
.icon-java:before,
.icon-satellite:before,
.icon-debian:before,
.icon-grails:before,
.icon-c:before,
.icon-postgres:before,
.icon-database-alt2:before,
.icon-raspberrypi:before,
.icon-nginx:before,
.icon-ruby-on-rails:before,
.icon-redis:before,
.icon-scala:before,
.icon-gnome:before,
.icon-perl:before,
.icon-mysql:before,
.icon-fedora:before,
.icon-ghost:before,
.icon-google:before,
.icon-netbsd:before,
.icon-aws:before,
.icon-bomb:before,
.icon-looking:before,
.icon-ruby:before,
.icon-mysql-alt:before,
.icon-playframework-alt:before,
.icon-osx:before,
.icon-database:before,
.icon-database-alt:before,
.icon-shell:before,
.icon-script:before,
.icon-antenna:before,
.icon-coffee-bean:before,
.icon-scala-alt:before,
.icon-platter:before,
.icon-java-duke:before,
.icon-iphone:before,
.icon-script-alt:before,
.icon-google-alt:before,
.icon-haskell:before,
.icon-mariadb:before,
.icon-phone-retro:before,
.icon-phone-alt:before,
.icon-csharp:before,
.icon-php:before,
.icon-postgres-alt:before,
.icon-html:before,
.icon-mfizz:before,
.icon-apache:before,
.icon-hadoop:before,
.icon-ruby-on-rails-alt:before,
.icon-mobile-phone-broadcast:before,
.icon-css:before,
.icon-playframework:before,
.icon-clojure:before,
.icon-mobile-phone-alt:before,
.icon-suse:before,
.icon-java-bold:before,
.icon-nginx-alt:before,
.icon-nginx-alt2:before,
.icon-linux-mint:before,
.icon-dreamhost:before,
.icon-blackberry:before,
.icon-javascript:before,
.icon-ubuntu:before,
.icon-php-alt:before,
.icon-centos:before,
.icon-nodejs:before,
.icon-splatter:before,
.icon-3dprint:before,
.icon-line-graph:before,
.icon-cassandra:before,
.icon-solaris:before,
.icon-jetty:before,
.icon-tomcat:before,
.icon-oracle:before,
.icon-oracle-alt:before,
.icon-mssql:before,
.icon-google-developers:before,
.icon-google-code:before,
.icon-kde:before,
.icon-grails-alt:before {
  font-family: "FontMfizz";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit; }

/* line 554, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-microscope:before {
  content: "\f100"; }

/* line 555, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-cplusplus:before {
  content: "\f101"; }

/* line 556, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-wireless:before {
  content: "\f102"; }

/* line 557, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-fire-alt:before {
  content: "\f103"; }

/* line 558, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-mobile-device:before {
  content: "\f104"; }

/* line 559, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-objc:before {
  content: "\f105"; }

/* line 560, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-redhat:before {
  content: "\f106"; }

/* line 561, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-freebsd:before {
  content: "\f107"; }

/* line 562, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-heroku:before {
  content: "\f108"; }

/* line 563, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-python:before {
  content: "\f109"; }

/* line 564, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-java:before {
  content: "\f10a"; }

/* line 565, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-satellite:before {
  content: "\f10b"; }

/* line 566, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-debian:before {
  content: "\f10c"; }

/* line 567, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-grails:before {
  content: "\f10d"; }

/* line 568, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-c:before {
  content: "\f10e"; }

/* line 569, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-postgres:before {
  content: "\f10f"; }

/* line 570, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-database-alt2:before {
  content: "\f110"; }

/* line 571, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-raspberrypi:before {
  content: "\f111"; }

/* line 572, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-nginx:before {
  content: "\f112"; }

/* line 573, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-ruby-on-rails:before {
  content: "\f113"; }

/* line 574, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-redis:before {
  content: "\f114"; }

/* line 575, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-scala:before {
  content: "\f115"; }

/* line 576, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-gnome:before {
  content: "\f116"; }

/* line 577, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-perl:before {
  content: "\f117"; }

/* line 578, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-mysql:before {
  content: "\f118"; }

/* line 579, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-fedora:before {
  content: "\f119"; }

/* line 580, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-ghost:before {
  content: "\f11a"; }

/* line 581, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-google:before {
  content: "\f11b"; }

/* line 582, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-netbsd:before {
  content: "\f11c"; }

/* line 583, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-aws:before {
  content: "\f11d"; }

/* line 584, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-bomb:before {
  content: "\f11e"; }

/* line 585, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-looking:before {
  content: "\f11f"; }

/* line 586, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-ruby:before {
  content: "\f120"; }

/* line 587, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-mysql-alt:before {
  content: "\f121"; }

/* line 588, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-playframework-alt:before {
  content: "\f122"; }

/* line 589, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-osx:before {
  content: "\f123"; }

/* line 590, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-database:before {
  content: "\f124"; }

/* line 591, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-database-alt:before {
  content: "\f125"; }

/* line 592, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-shell:before {
  content: "\f126"; }

/* line 593, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-script:before {
  content: "\f127"; }

/* line 594, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-antenna:before {
  content: "\f128"; }

/* line 595, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-coffee-bean:before {
  content: "\f129"; }

/* line 596, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-scala-alt:before {
  content: "\f12a"; }

/* line 597, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-platter:before {
  content: "\f12b"; }

/* line 598, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-java-duke:before {
  content: "\f12c"; }

/* line 599, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-iphone:before {
  content: "\f12d"; }

/* line 600, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-script-alt:before {
  content: "\f12e"; }

/* line 601, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-google-alt:before {
  content: "\f12f"; }

/* line 602, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-haskell:before {
  content: "\f130"; }

/* line 603, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-mariadb:before {
  content: "\f131"; }

/* line 604, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-phone-retro:before {
  content: "\f132"; }

/* line 605, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-phone-alt:before {
  content: "\f133"; }

/* line 606, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-csharp:before {
  content: "\f134"; }

/* line 607, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-php:before {
  content: "\f135"; }

/* line 608, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-postgres-alt:before {
  content: "\f136"; }

/* line 609, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-html:before {
  content: "\f137"; }

/* line 610, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-mfizz:before {
  content: "\f138"; }

/* line 611, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-apache:before {
  content: "\f139"; }

/* line 612, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-hadoop:before {
  content: "\f13a"; }

/* line 613, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-ruby-on-rails-alt:before {
  content: "\f13b"; }

/* line 614, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-mobile-phone-broadcast:before {
  content: "\f13c"; }

/* line 615, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-css:before {
  content: "\f13d"; }

/* line 616, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-playframework:before {
  content: "\f13e"; }

/* line 617, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-clojure:before {
  content: "\f13f"; }

/* line 618, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-mobile-phone-alt:before {
  content: "\f140"; }

/* line 619, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-suse:before {
  content: "\f141"; }

/* line 620, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-java-bold:before {
  content: "\f142"; }

/* line 621, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-nginx-alt:before {
  content: "\f143"; }

/* line 622, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-nginx-alt2:before {
  content: "\f144"; }

/* line 623, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-linux-mint:before {
  content: "\f145"; }

/* line 624, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-dreamhost:before {
  content: "\f146"; }

/* line 625, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-blackberry:before {
  content: "\f147"; }

/* line 626, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-javascript:before {
  content: "\f148"; }

/* line 627, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-ubuntu:before {
  content: "\f149"; }

/* line 628, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-php-alt:before {
  content: "\f14a"; }

/* line 629, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-centos:before {
  content: "\f14b"; }

/* line 630, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-nodejs:before {
  content: "\f14c"; }

/* line 631, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-splatter:before {
  content: "\f14d"; }

/* line 632, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-3dprint:before {
  content: "\f14e"; }

/* line 633, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-line-graph:before {
  content: "\f14f"; }

/* line 634, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-cassandra:before {
  content: "\f150"; }

/* line 635, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-solaris:before {
  content: "\f151"; }

/* line 636, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-jetty:before {
  content: "\f152"; }

/* line 637, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-tomcat:before {
  content: "\f153"; }

/* line 638, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-oracle:before {
  content: "\f154"; }

/* line 639, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-oracle-alt:before {
  content: "\f155"; }

/* line 640, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-mssql:before {
  content: "\f156"; }

/* line 641, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-google-developers:before {
  content: "\f157"; }

/* line 642, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-google-code:before {
  content: "\f158"; }

/* line 643, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-kde:before {
  content: "\f159"; }

/* line 644, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-grails-alt:before {
  content: "\f15a"; }

/* These classes only added to fix FontFamily to display FontMfizz during debug/inspection */
/* line 737, /Users/matthewthees/Projects/WDI_yearbook/WDI_yearbook/source/stylesheets/yearbook.css.scss */
.icon-osx,
.icon-bomb,
.icon-mobile-phone-broadcast,
.icon-objc,
.icon-nginx-alt2,
.icon-mysql,
.icon-phone-retro,
.icon-netbsd,
.icon-mobile-device,
.icon-ruby-on-rails,
.icon-phone-alt,
.icon-line-graph,
.icon-postgres,
.icon-playframework,
.icon-python,
.icon-ruby-on-rails-alt,
.icon-nginx,
.icon-database-alt2,
.icon-google-alt,
.icon-microscope,
.icon-blackberry,
.icon-dreamhost,
.icon-google,
.icon-centos,
.icon-kde,
.icon-csharp,
.icon-scala,
.icon-redis,
.icon-looking,
.icon-database-alt,
.icon-javascript,
.icon-postgres-alt,
.icon-linux-mint,
.icon-ubuntu,
.icon-apache,
.icon-script-alt,
.icon-mssql,
.icon-c,
.icon-gnome,
.icon-java-duke,
.icon-scala-alt,
.icon-clojure,
.icon-oracle-alt,
.icon-redhat,
.icon-haskell,
.icon-3dprint,
.icon-mariadb,
.icon-java,
.icon-script,
.icon-cplusplus,
.icon-jetty,
.icon-perl,
.icon-heroku,
.icon-nginx-alt,
.icon-iphone,
.icon-splatter,
.icon-shell,
.icon-mysql-alt,
.icon-wireless,
.icon-ruby,
.icon-playframework-alt,
.icon-raspberrypi,
.icon-suse,
.icon-nodejs,
.icon-java-bold,
.icon-google-developers,
.icon-mobile-phone-alt,
.icon-grails-alt,
.icon-coffee-bean,
.icon-cassandra,
.icon-google-code,
.icon-fedora,
.icon-antenna,
.icon-hadoop,
.icon-solaris,
.icon-html,
.icon-css,
.icon-satellite,
.icon-aws,
.icon-mfizz,
.icon-php,
.icon-debian,
.icon-ghost,
.icon-php-alt,
.icon-tomcat,
.icon-database,
.icon-grails,
.icon-freebsd,
.icon-oracle,
.icon-fire-alt,
.icon-platter {
  font-family: "FontMfizz"; }
